PORT=3000
PREFIX=.
OWNER_NUMBER=917866052212
OWNER_NAME=Luffy
BOT_NAME=LuffyTaro Bot
AUTH_TYPE=pairing
SESSION_DIR=./session
DATABASE_PATH=./database/luffytaro.db
AUTO_READ=true
AUTO_TYPING=false
AUTO_RECORDING=false
MODE=public
